[Unit]
Description=Vyom API Service
After=network.target

[Service]
ExecStart=/opt/vyom/bin/vyom-api
Restart=always
RestartSec=3
User=root
WorkingDirectory=/opt/vyom
StandardOutput=append:/var/log/vyom/api.log
StandardError=append:/var/log/vyom/api.log

[Install]
WantedBy=multi-user.target
