[Unit]
Description=VyomGarud GCS Drone Middleware
After=network.target zerotier-one.service

[Service]
User=root
WorkingDirectory=/root/gcs-app
EnvironmentFile=/root/gcs-app/.env
ExecStart=/usr/local/go/bin/go run /root/gcs-app/main.go
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
