[Unit]
Description=VyomGarud GCS Drone Middleware
After=network.target zerotier-one.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/gcs-production/backend
EnvironmentFile=/home/ubuntu/gcs-production/backend/.env
ExecStart=/home/ubuntu/gcs-production/backend/gcs-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
