Package: vyom-middleware
Version: 2.5.0
Section: utils
Priority: optional
Architecture: arm64
Maintainer: Vyom <support@vyom.ai>
Description: Vyom Device Middleware (Raspberry Pi Edition)
 Key bridge between Pixhawk, Camera, and Vyom Cloud.
 Auto-detects hardware and manages telemetry.
 Optimized for Raspberry Pi.
Depends: gstreamer1.0-tools, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, gstreamer1.0-libav, v4l-utils, libcamera-apps, rpicam-apps
