[Unit]
Description=Vyom ZeroTier Service
After=network.target vyom-api.service
Requires=vyom-api.service

[Service]
ExecStart=/opt/vyom/bin/vyom-zerotier
Restart=always
RestartSec=5
User=root
WorkingDirectory=/opt/vyom
StandardOutput=append:/var/log/vyom/zerotier.log
StandardError=append:/var/log/vyom/zerotier.log

[Install]
WantedBy=multi-user.target
