[Unit]
Description=Vyom Device Middleware
After=network.target

[Service]
ExecStart=/usr/local/bin/vyom-middleware
Restart=always
User=root
WorkingDirectory=/opt/vyom

[Install]
WantedBy=multi-user.target
